<wj-flex-grid #flexGrid class="custom-flex-grid custom_scroller"
              style="height: inherit; width: inherit"
              [itemsSource]="gridData"
              [selectionMode]="3"
              [autoGenerateColumns]="true"
              (initialized)="initialized()"
              (resizedColumn)="saveColumnLayout()"
              (draggedColumn)="saveColumnLayout()"
              (sortedColumn)="saveSort()"
              (mousemove)="mouseMove($event)"
              (mouseleave)="mouseLeave()"
              (scrollPositionChanged)="scrollPositionChanged()"
              [deferResizing]="true"
              [allowSorting]="false"
              [headersVisibility]="1">

    <!--    <ng-template wjFlexGridCellTemplate [cellType]="'TopLeft'">
        <input #cloumnHeader class="styled-checkbox-header"
        id="styled-checkbox-header"
        (change)="onCloumnHeaderChecked(cloumnHeader)"
        type="checkbox"
        value="value1">
        <label for="styled-checkbox-header"></label>
        </ng-template>

        <ng-template wjFlexGridCellTemplate [cellType]="'RowHeader'" let-cell="cell">
        <input #rowHeader class="styled-checkbox"
        id="styled-checkbox-{{cell.row.index}}"
        (change)="onRowHeaderChange(cell.row.index)"
        type="checkbox"
        value="value1">
        <label for="styled-checkbox-{{cell.row.index}}"></label>
        </ng-template>-->

    <ng-template ngFor let-col [ngForOf]="columnLayout">

        <wj-flex-grid-column [header]="col.header"
                             [binding]="col.binding"
                             [width]="col.width"
                             [minWidth]="col.minWidth"
                             [format]="col.format"
                             [dataType]="col.dataType"
                             [align]="col.align"
                             [visible]="col.visible">
            <ng-template wjFlexGridCellTemplate cellType="ColumnHeader" let-item="item" let-cell="cell">
                <app-column-header
                        (onSort)="onSortClick($event)"
                        (onFrozen)="onFrozenClick($event)"
                        [header]="col.header"
                        [columnIndex]="cell.col.index"
                        [currentSort]="cell.col.currentSort"
                        [columnFixed]="columnFixed"
                        [fixedIndex]="fixedIndex">
                </app-column-header>
            </ng-template>

            <!--로우 헤더 체크박스-->
            <ng-template wjFlexGridCellTemplate cellType="Cell" let-item="item" let-cell="cell"
                         *ngIf="col.binding === 'ck'">
                <input #rowHeader class="styled-checkbox"
                       (change)="onRowHeaderChange(cell.row.index)"
                       type="checkbox">
            </ng-template>

            <!--국기 이미지-->
            <ng-template wjFlexGridCellTemplate cellType="Cell" let-item="item" let-cell="cell"
                         *ngIf="col.binding === 'country'">
                <img src="http://demos.wijmo.com/5/Angular2/FlexGridIntro/FlexGridIntro/resources/{{item.country}}.png"/>
                {{item.country}}
            </ng-template>

            <!--Amount 색깔-->
            <ng-template wjFlexGridCellTemplate cellType="Cell" let-item="item" let-cell="cell"
                         *ngIf="col.binding === 'amount'">
                <span [ngStyle]="{color: item.amount > 0 ? 'green':'red'}" style="font-weight:700">
                    {{item.amount}}
                </span>
            </ng-template>

            <!--COLOR 스위치 케이스-->
            <ng-template wjFlexGridCellTemplate cellType="Cell" let-item="item" let-cell="cell"
                         *ngIf="col.binding === 'color'">
                <span [ngSwitch]="item.color">
                    <span *ngSwitchCase="'Red'" style="background-color:red; color: #fff">{{item.color}}</span>
                    <span *ngSwitchCase="'Blue'" style="background-color:blue; color: #fff">{{item.color}}</span>
                    <span *ngSwitchCase="'Black'" style="background-color:black; color: #fff">{{item.color}}</span>
                    <span *ngSwitchCase="'Green'" style="background-color:green; color: #fff">{{item.color}}</span>
                    <span *ngSwitchCase="'White'" style="background-color:white; color: black">{{item.color}}</span>
                    <span *ngSwitchDefault>{{item.color}}</span>
                </span>
            </ng-template>

            <ng-template wjFlexGridCellTemplate cellType="Cell" let-item="item" let-cell="cell"
                         *ngIf="col.binding === 'date'">
                {{item.date | date}}
            </ng-template>

            <!--{{item[col.binding]}}-->
        </wj-flex-grid-column>
    </ng-template>
</wj-flex-grid>