<div style="height:300px; width: 1050px">
    <div class="sample2">
        <app-flex-grid style="height: 300px; width: 500px"
                       [data]="data1"
                       [gridName]="gridName"
                       [isReadOnly]="true"
                       [rowHeader]="true">
        </app-flex-grid>
    </div>
    <div class="center">
        <div class="arrows">
            <span (click)="toRight()" class="glyphicon glyphicon-arrow-right"></span>
            <br>
            <span (click)="toLeft()" class="glyphicon glyphicon-arrow-left"></span>
        </div>
    </div>
    <div class="sample2">
        <app-flex-grid style="height: 300px; width: 500px"
                       [data]="data2"
                       [gridName]="gridName"
                       [isReadOnly]="true"
                       [rowHeader]="true">
        </app-flex-grid>
    </div>
</div>