<button (click)="goLoginSvc()">login svc</button> {{loginMessageSvc}}<br>
<button (click)="goLoginUsr()">login usr</button> {{loginMessageUsr}}<br>
<select #selectElem (change)="setTable(selectElem.value)">
    <option>선택</option>
    <option *ngFor="let table of tables" [value]="table">
        {{table}}
    </option>
</select>
<div style="margin: 30px;">현재 상태:{{selectServer}}</div>
<div style="float:left;">
    <p>GET method</p>
<button style="width:200px;" (click)="tablesInfo()">tablesinfo</button> <br>
<button style="width:200px;" (click)="talbeCount()">talbeCount</button> <br>
<button style="width:200px;" (click)="table()">table</button> <br>
<button style="width:200px;" (click)="tableColumns()">tableColumns</button> <br>
<button style="width:200px;" (click)="tableId()">tableId</button> <br>
<button style="width:200px;" (click)="tableOrderBy()">tableOrderBy</button> <br>
<button style="width:200px;" (click)="tableLike()">tableLike</button> <br>
<button style="width:200px;" (click)="parentTable()">parentTable</button> <br>
<button style="width:200px;" (click)="lookupId()">lookup-id</button> <br>
<button style="width:200px;" (click)="lookupName()">lookup-Name</button> <br>
<button style="width:200px;" (click)="shallow()">shallow</button> <br>
</div>
<div style="float:left;">
    <p>POST method</p>
<button style="width:200px;" (click)="whereTable()">whereTable</button> <br>
<button style="width:200px;" (click)="countWhereTable()">countWhereTable</button> <br>
<button style="width:200px;" (click)="countWhereColumnsTable()">countWhereColumnsTable</button> <br>
<button style="width:200px;" (click)="lookPost()">lookPost</button> <br>
<button style="width:200px;" (click)="creatTable()">creatTable</button> <br>
</div>
<div style="float:left;">
    <p>Put method</p>
<button style="width:200px;" (click)="putTableId()">putTableId</button> <br>
<button style="width:200px;" (click)="putMultiTableId()">putMulti</button> <br>
</div>
<div style="float:left;">
    <p>Delete method</p>
    <button style="width:200px;" (click)="delTableId()">delTableId</button> <br>
    <button style="width:200px;" (click)="delMultiTableId()">delMulti</button> <br>
</div>
