<nav>
    <a routerLink="/sample1">sample1</a>
    <a routerLink="/sample2">sample2</a>
    <a routerLink="/sample3">sample3</a>
    <a routerLink="/sample4">sample4</a>
</nav>
<br>
<router-outlet></router-outlet>

