<div *ngIf="isHeader">
    <input #rowHeader class="styled-checkbox" type="checkbox">
</div>

<div *ngIf="!isHeader" class="nx-header" (click)="onSortClick()">
    {{header}}
</div>

<div *ngIf="!isHeader" class="ui-iggrid-indicatorcontainer">
    <div class="nx-header-sort" (click)="onSortClick()">
        <span *ngIf="currentSort==='+' " class="wj-glyph-up"></span>
        <span *ngIf="currentSort==='-' " class="wj-glyph-down"></span>
    </div>
    <div class="nx-header-fixed">
        <span *ngIf="columnFixed&&isFrozen" style="cursor:pointer; -webkit-transform: rotate(-45deg);"
              class="glyphicon glyphicon-pushpin"
              (click)="onFrozenClick($event)"></span>
        <span *ngIf="columnFixed&&!isFrozen" style="cursor:pointer; -webkit-transform: rotate(45deg);"
              class="glyphicon glyphicon-pushpin"
              (click)="onFrozenClick($event)"></span>
    </div>
</div>



