.nx-header {
    float: left;
    text-align: left;
    width: calc(100% - 40px) !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sortCol {
    float: left;
    text-align: left;
    width: calc(100% - 30px) !important;
    overflow: hidden;
    text-overflow: ellipsis;

}

.ui-iggrid-indicatorcontainer {
    float: right;
}

.nx-header-fixed {
    float: right;
    padding: 0px 3px;
}

.nx-header-sort {
    float: left;
    padding: 0px 3px;
    /* width: 15%; */
}

.nx-columns {
    overflow: hidden;
    clear: both;
    width: 100%;
}

.form-group {
    margin: 0px !important;
}

.input-group-addon {
    padding: 0px !important;
    border: 0px !important;
    border-radius: 0px !important;
}